#break {
    width: 100px;
    height: 5px;
    background: red;
    margin: 0 auto;
    justify-content: center;
    display:flex;
    flex-direction: column
}

#fluid-row {
    min-height: 800px;
}

.height {
    height: 100vh;

}

.text-underline {
    width: 150px;
    height: 10px;


    
}

#footer {
    
    /* align-items: center; */
 
    font-style:italic;
    font-display: initial;
}