#break {
    width: 100px;
    height: 5px;
    background: red;
    margin: 0 auto;
    justify-content: center;
    display:flex;
    flex-direction: column
}

#fluid-row {
    min-height: 800px;
}

.height {
    height: 100vh;
    background:black;
}

.text-underline {
    width: 250px;
    height: 20px;
    background:red;

    
}
@media only screen and (min-width:700px) {

    .height-80 {
        height: 80vh;
       
    }

    .height-70 {
        height: 70vh;
       
    }


    .height-60 {
        height: 60vh;
       
    }

    .height-50 {
        height: 50vh;
       
    }

}
